* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back {
    position: relative;
    background-color: aqua;
    width: 100vw;
    height: auto;
    z-index: -1;
}

.head {
    background: linear-gradient(to bottom, blue 70%, rgb(209, 209, 13) 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    position: fixed;
    margin-left: 25%;
    z-index: 1;
}

.frame {
    position: relative;
    display: block;
    width: 100%;
    height: 1500px;
}

.article {
    border: 10px dotted green;
    background-color: bisque;
    display: inline-block;
    width: 600px;
    height: auto;
    font-size: 1.5em;
    overflow: auto;
    position: fixed;
}

.article--rotate {
    position: absolute;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    top: 350px;
    left: 500px;
}

.article--autoheight {
    position: absolute;
    display: block;
    left: 65%;
    top:20%;
    border: 5px dotted red;
    overflow-y: scroll;
    height: 600px;
}

.article__memo {
    font-weight: 400;
    font-style: italic;
    color: blue;
    display: inherit;
    margin: 0 90px;
    width: 130px;
    float: left;
    padding: 10px;
}


.auto {
    background-color: transparent;
    border: 5px solid black;
    box-sizing: content-box;
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 600px;
    height: 700px;
}

.auto__main  {
    background-color: green;
    border: 1px solid black;
    position: relative;
    bottom: -350px;
    left: 50px;
    width: 500px;
    height: 300px;
}

.auto__cabin  {
    background-color: green;
    border: 1px solid black;
    box-sizing: content-box;
    position: relative;   
    top: -152px;
    left: 252px;
    width: 296px;
    height: 201px;    
}

.auto__cabinwindow  {
    background-color: white;
    border: 2px solid black;
    position: static;   
    margin: 20px 20px;
    display: block;
    width: 100px;
    height: calc(100% - 40px);    
}

.auto__wheel  {
    background-color: yellow;
    border: 45px solid black;
    border-radius: 50%;
    position: relative;   
    width: 200px;
    height: 200px;    
}

.auto__wheel--small  {
    width: 200px;
    height: 200px;  
    left: 10px;  
}

.auto__wheel--big  {
    border: 55px solid black;
    width: 300px;
    height: 300px;  
    right: -300px;;  
    top: -300px;
}

.auto__pipe  {
    background-color: grey;
    border: 1px solid black;
    position: absolute;   
    float: left;
    width: 50px;
    height: 200px; 
    left: 100px;
    top: 151px;
}

.tank {
    background-color: transparent;
    border: 1px solid black;
    display: inline-block;
    position: absolute;   
    width: 700px;
    height: 400px; 
    margin-left: 800px;
    margin-top: 1000px;
}

.tank__main {
    background-color: brown;
    border: 25px solid black;
    position: absolute;
    width: 600px;
    height: 200px;
    margin-top: 200px;
    margin-left: 50px;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.tank__cabin  {
    background-color: yellow;
    border: 15px solid black;
    position: absolute;
    width: 300px;
    height: 150px;
    margin-top: 80px;
    margin-left: 250px;
    border-top-left-radius: 60%;
    border-top-right-radius: 20%;   
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 20%;
    z-index: 1;
}

.tank__turret {
    background-color: yellow;
    border: 10px solid black;
    position: relative;
    width: 350px;
    height: 60px;
    top: 120px;
    left: 30px;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    z-index: 0;
}
.text {
    position: absolute;
    background: aqua; 
    width: 100vw;   
}
.headstick {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    position: sticky;  
    top:0;
    background: transparent;    
    padding-left: 40%;
    color: blue;
}

.paragraph--nofloat,.paragraph {
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    color: black;
    padding: 20px;
    margin: 20px;
    display: block;
}

.paragraph__img--nofloat,.paragraph__img {
    margin: 7px 7px 7px 0;
    width: 800px;
    height: 600px;
}
.paragraph__img {
    float: left;
}
.paragraph--nofloat,.paragraph__img--nofloat {
    clear: both;
    float: none;
}

.cotton-style {
    font-size: larger;
    font-weight: 500;
}

.cotton-style::after {
    content: "💮";
    font-size: smaller;
    font-weight: 300;
    color: red;
}

.about {
    font-size: 20px;
    display: inline-block;
    width: 450px;
    border: 5px solid black;
}